<div class="links">
  <a href="https://www.linkedin.com/in/ryangormican/">
    <span class="mdi--linkedin"></span>
  </a>
  <a href="https://github.com/RyanGormican/FocalFitness">
    <span class="mdi--github"></span>
  </a>
  <a href="https://ryangormicanportfoliohub.vercel.app/">
    <span class="teenyicons--computer-outline"></span>
  </a>
  <div>
    <span class="material-symbols--feedback"></span>
  </div>
</div>

<div class="landing-container">

    <router-outlet></router-outlet>

</div>
